<div class="collection-layout">
  <!-- Sidenav for Filters -->
  <aside class="sidenav">
    <app-accordion label="Card Types">
      <button mat-icon-button [routerLink]="['/', 'editor']" class="action">
        <mat-icon>add</mat-icon>
      </button>
      <mat-selection-list
        [ngModel]="selectedModelIds$ | async"
        (selectionChange)="onModelFilterChange($event)"
        [multiple]="true"
      >
        @for (model of models$ | async; track model.id) {
        <mat-list-option [value]="model.id" togglePosition="before">
          {{ model.name }}
        </mat-list-option>
        }
      </mat-selection-list>
    </app-accordion>
  </aside>

  <!-- Main Content -->
  <main #mainContent class="main-content" (scroll)="onScroll($event)">
    <div class="toolbar">
      <mat-button-toggle-group class="view-toggle">
        <button
          (click)="toggleViewMode('grid')"
          mat-button
          [class.active]="(viewMode$ | async) === 'grid'"
        >
          Grid
        </button>
        <button
          (click)="toggleViewMode('list')"
          mat-button
          [class.active]="(viewMode$ | async) === 'list'"
        >
          List
        </button>
      </mat-button-toggle-group>
      <div class="spacer"></div>
      <button mat-button (click)="toggleHeaders()">
        <mat-icon>{{ showHeaders ? "toggle_on" : "toggle_off" }}</mat-icon>
        Actions
      </button>
      <button mat-button [routerLink]="['/flashcard/review']">
        <mat-icon>school</mat-icon>
        Review
      </button>
      <button mat-flat-button [routerLink]="['/flashcard/create']">
        <mat-icon>add</mat-icon>
        Create
      </button>
    </div>

    @let viewMode = viewMode$ | async;
    <div class="card-area" [ngClass]="viewMode">
      @let _items = (displayedCards$ | async); @for (item of _items; track item.id) {
        <div class="card-wrapper">
          <app-flashcard
            [ngClass]="{ withHeader: showHeaders }"
            [data]="item"
            [model]="item.model"
          ></app-flashcard>

          @if (showHeaders) {
            <mat-toolbar class="card-header">
              <div class="spacer"></div>
              <button mat-icon-button (click)="addToReview(item)">
                <mat-icon>add</mat-icon>
              </button>
            </mat-toolbar>
          }
        </div>
      }
    </div>
    <div class="pagination-controls">
      <div *ngIf="loading$ | async" class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </main>
</div>
