:host {
  display: block;
  width: 100%;
  height: 100%;
}

.flipper-container {
  perspective: 1000px; // Required for 3D effect
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flipper-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition-property: transform;
  transform-style: preserve-3d; // Required for children to have 3D position

  // Flip animations
  &.horizontal.flipped {
    transform: rotateY(180deg);
  }
  &.vertical.flipped {
    transform: rotateX(180deg);
  }
}

.flipper-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden; // Hide the back of the element when facing away
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.flipper-back {
  &.horizontal {
    transform: rotateY(180deg);
  }
  &.vertical {
    transform: rotateX(180deg);
  }
}

.default-content {
  color: #9ca3af;
  font-style: italic;
}
